{% extends 'cinema/base.html' %}
{% load staticfiles %}

{% block main %}
  {% for object in object_list %}
    <div class="main-content hvr-grow">
      <div class="main-imgs">
        <a href="{{ object.get_absolute_url }}" class="main-img"><img src="{{ object.image.url }}" alt="img"></a>
        <span class="rating">
          <h4>IMDB:</h4> {{ object.rating }} / {{ object.year }}
        </span>
        <a class="movie-text" href="{{ object.get_absolute_url }}">{{ object.title }}</a>
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% block sidebar%}
  {% for object in object_list %}
  {% endfor %}
{% endblock %}

{% block domready %}
  <!-- API -->
  <script type="text/javascript">
    // API
    $.ajax({
      type: "GET",
      url: '{% url "cinema_api:test_view" %}',
      data: {
          'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val(),
      },
      success: function(data) {
        console.log(data);
        //$('.main-imgs').html("<a href=\"" + data["results"][0]["get_absolute_url"] + "\">" + '<img src="' +  data["results"][0]["image"] + '" ' + 'class="main-imgs">' + "</a> \n")
      },
    });
  </script>
{% endblock domready %}
