#mobile {
    display: none;
}
body{
  background-color: $bodyback;
  width: 100%;
  margin: 0px;
}

a{
  outline: none;
}

header{
  background-color: $headback;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  height: 66px;
  text-align: center;
  background-position: center;
  background-size: cover;
  .width-navbar{
    margin-left: 20%;
    width: 60%;
    .navbar-account{
      position: absolute;
      right: 0px;
      top: 0px;
      float: right;
      -moz-user-select: none;
      -webkit-user-select: none;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 8px;
      padding-bottom: 4px;
      a{
        outline: none;
        img{
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }
      &:hover{
        background-color: $headhoverback;
      }
      &:active{
        background-color: $white;
      }
    }
    .navbar-brand{
      text-align: center;
      padding-left: 30px;
      padding-right: 30px;
      float: left;
      line-height: 2.5;
      height: 66px;
      a{
        -moz-user-select: none;
        -webkit-user-select: none;
        color: $white;
        font-size: 24px;
        font-family: $brand-font;
        text-decoration: none;
      }
      &:hover{
        background-color: $headhoverback;
      }
    }
  }
}

.main-content{
  font-family: $main-font;
  display: inline-block;
  background-position: center;
  background-size: cover;
  margin-left: 20px;
  margin-top: 50px;
  .movie-text{
    color: $fontcolor;
    margin-top: 5px;
    font-size: 12px;
    text-decoration: none;
    text-align: left;
    float: left;
  }
}
#click-hide{
  max-width: 60%;
  .main-imgs{
    width: 20vh;
    height: 29vh;
    -moz-user-select: none;
    -webkit-user-select: none;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);
    background-color: $imgback;
    float: left;
    .rating{
      position: absolute;
      z-index: 1;
      color: $white;
      font-size: 1vh;
      display: none;
      bottom: 0px;
      margin-left: 5px;
      margin-bottom: 5px;
      h4{
        margin: 0px;
      }
    }
    a{
      img{
        width: 20vh;
        height: 29vh;
      }
    }
    &:hover{
      box-shadow: 0 0 2px rgba(35, 173, 278, 1);
    }
  }
}

.main-imgs:hover .rating {
  display: block;
}

.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.center-pos-horizontal{
  display: flex;
  justify-content: center; /* align horizontal */
}

.center-pos-vertical{
  display: flex;
  align-items: center; /* align vertical */
}

.media-background{
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 480px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  &:before {
        position: fixed;
        content: " ";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: repeat-x;
        background-image: -webkit-linear-gradient(to bottom,rgba(21,21,21,.5) 0%,#171717 50%);
        background-image: -o-linear-gradient(to bottom,rgba(21,21,21,.5) 0%,#171717 50%);
        background-image: linear-gradient(to bottom,rgba(21,21,21,.5) 0%,#171717 50%);
   }
}

.media-info{
  text-align: left;
  line-height: 1.6;
}

.main-info{
  margin-top: 70px;
  position: absolute;
  width: 800px;
}

.main-detail-img{
  width: 220px;
  height: 300px;
  -moz-user-select: none;
  -webkit-user-select: none;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);
  float: left;
  margin-right: 60px;
}

.main-text{
  font-size: 22px;
  color: $white;
  position: static;
  left: 0;
}

.main-plot{
  font-size: 13px;
  color: $white;
  width: 750px;
}

.video{
  margin-top: 500px;
  margin-bottom: 150px;
  background-color: $videoback;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);
  iframe{
    width: 850px;
    height: 550px;
  }
}

footer{
  bottom: 0;
  height: 66px;
  width: 100%;
  background-color: $footerback;
  h5{
    font-family: $minor-font;
    font-size: 12px;
    color: $white;
    margin: 0px;
    line-height: 5;
    text-align: center;
  }
}

.search{
  position: absolute;
  right: 80px;
  top: 0;
  float: right;
  #search-button{
    a{
      padding-left: 25px;
      padding-top: 33px;
      padding-bottom: 15px;
      img{
        padding-right: 25px;
        margin-top:  15px;
        -moz-user-select: none;
        -webkit-user-select: none;
      }
      &:hover{
        background-color: $headhoverback;
      }
      &:active{
        background-color: $white;
      }
    }
  }
  #search-show{
    display:inline-block;
    position: relative;
    input{
      position: relative;
      height: 66px;
      padding-right: 10px;
      padding-left: 30px;
      background-color: $headback;
      color: $white;
      font-family: $minor-font;
      font-size: 13px;
      border: none;
      &:hover{
        background-color: $headhoverback;
      }
      &:focus{
        background-color: $white;
        color: $black;
      }
    }
    a{
      img{
        outline: none;
        margin-right: 15px;
        position: absolute;
        right: 0;
        top: 20px;
        width: 20px;
        height: 25px;
      }
    }
  }
  #search-show:not(:hover){
    display: none;
  }
}

#search_popup {
    position: absolute;
    right: 25%;
    top: 55px;
    width: 220px;
    #search-results{
      ul{
        border-radius: 0px 0px 7px 7px;
        a{
          color: $black;
          font-family: $minor-font;
          line-height: 4;
          text-decoration: none;
        }
        text-align: center;
        padding: 0px;
        background-color: $white;
      }
    }
}

#dropdown{
  position: absolute;
  right: 20%;
  top: 0;
  margin-top: 70px;
  #dropdown-container{
    width: 260px;
    height: 250px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.5);
    background-color: $white;
    border-radius: 0px 0px 7px 7px;
    .dropdown-profile{
      height: 90px;
      border-bottom: 1px solid rgba(0,0,0,.1);
      h4{
        -moz-user-select: none;
        -webkit-user-select: none;
        position: absolute;
        left: 85px;
        font-size: 15px;
        font-family: $main-font;
        color: $color1;
      }
      h5{
        position: absolute;
        top: 23px;
        left: 85px;
        font-size: 12px;
        font-family: $main-font;
        color: $username;
      }
      img{
        pointer-events: none;
        position: absolute;
        left: 0;
        margin-left: 10px;
        margin-top: 15px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        -moz-user-select: none;
        -webkit-user-select: none;
      }
    }
    .dropdown-settings{
      a{
        p{
          font-size: 12px;
          color: $color2;
        }
      }
    }
    .dropdown-logout{
      position: absolute;
      bottom: 0;
      width: 100%;
      a{
        button{
          width: 100%;
          height: 45px;
          border: none;
          background-color: $exit;
          border-radius: 0px 0px 3px 3px;
          color: $white;
          &:hover{
            background-color: $exithover;
          }
        }
      }
    }
  }
  #dropdown-container:not(:hover){
    display: none;
  }
}

.profile{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 100vh;
  height: 80vh;
  background-color: rgba(33, 33, 33, 0.8);
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.5);
  .profile-data{
    margin-left: 200px;
    img{
      pointer-events: none;
      margin-left: 10px;
      margin-top: 15px;
      width: 150px;
      height: 150px;
      border: 3px solid $white;
      border-radius: 50%;
      -moz-user-select: none;
      -webkit-user-select: none;
    }
    .profile-elements{
      h3{
        font-size: 15px;
        font-family: $main-font;
        color: $white;
      }
      h1{
        font-size: 25px;
        color: $white;
      }
    }
    .passchange{
      a{
        text-decoration: none;
        p{
          font-size: 13px;
          font-family: $main-font;
          color: $white
        }
      }
    }
    .profile-input{
      color: $white;
      font-size: 15px;
      font-family: $main-font;
    }
  }
  .profile-container{
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 80vh;
    border-radius: 5px 0px 0px 0px;
    background-color: rgba(28, 28, 28, 0.7);
  }
}

.background-profile{
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 480px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 66px;
  &:before {
        position: fixed;
        content: " ";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: repeat-x;
        background-image: -webkit-linear-gradient(to bottom,rgba(21,21,21,.5) 0%,#171717 50%);
        background-image: -o-linear-gradient(to bottom,rgba(21,21,21,.5) 0%,#171717 50%);
        background-image: linear-gradient(to bottom,rgba(21,21,21,.5) 0%,#171717 50%);
   }
}
