#mobile {
    display: none;
}
body{
  background-color: $bodyback;
  width: 100%;
  margin: 0px;
}

header{
  background-color: $headback;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  height: 66px;
  text-align: center;
  background-position: center;
  background-size: cover;
  .navbar-logout{
    position: absolute;
    right: 0px;
    top: 0px;
    float: right;
    a{
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 30px;
      padding-bottom: 18px;
      font-family: $minor-font;
      font-size: 16px;
      text-decoration: none;
      text-align: center;
      line-height: 4;
      color: $white;
      img{
        width: 21px;
        height: 21px;
        margin-top: 23px;
      }
      &:hover{
        background-color: $headhoverback;
      }
    }
  }

  .navbar-brand{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    float: left;
    line-height: 2.5;
    height: 66px;
    a{
      color: $white;
      font-size: 24px;
      font-family: $brand-font;
      text-decoration: none;
    }
    &:hover{
      background-color: $headhoverback;
    }
  }
}

.main-content{
  font-family: $main-font;
  display: inline-block;
  background-position: center;
  background-size: cover;
  margin-left: 20px;
  margin-top: 50px;
  .movie-text{
    color: $fontcolor;
    margin-top: 5px;
    font-size: 1.4vh;
    text-decoration: none;
    text-align: left;
    float: left;
  }
}
.main-imgs{
  width: 180px;
  height: 250px;
  -moz-user-select: none;
  -webkit-user-select: none;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);
  background-color: $imgback;
  float: left;
  .rating{
    position: absolute;
    z-index: 1;
    color: $white;
    font-size: 1vh;
    display: none;
    bottom: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
    h4{
      margin: 0px;
    }
  }
  &:hover{
    box-shadow: 0 0 2px rgba(35, 173, 278, 1);
  }
}

.main-imgs:hover .rating {
  display: block;
}

.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.center-pos-horizontal{
  display: flex;
  justify-content: center; /* align horizontal */
}

.center-pos-vertical{
  display: flex;
  align-items: center; /* align vertical */
}

.media-background{
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 480px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  &:before {
        position: fixed;
        content: " ";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: repeat-x;
        background-image: -webkit-linear-gradient(to bottom,rgba(21,21,21,.5) 0%,#171717 50%);
        background-image: -o-linear-gradient(to bottom,rgba(21,21,21,.5) 0%,#171717 50%);
        background-image: linear-gradient(to bottom,rgba(21,21,21,.5) 0%,#171717 50%);
   }
}

.media-info{
  text-align: left;
  line-height: 1.6;
}

.main-info{
  margin-top: 70px;
  position: absolute;
  width: 800px;
}

.main-img{
  width: 220px;
  height: 300px;
  -moz-user-select: none;
  -webkit-user-select: none;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);
  float: left;
  margin-right: 60px;
}

.main-text{
  font-size: 22px;
  color: $white;
  position: static;
  left: 0;
}

.main-plot{
  font-size: 13px;
  color: $white;
  width: 750px;
}

.video{
  margin-top: 500px;
  margin-bottom: 150px;
  background-color: $videoback;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);
  iframe{
    width: 850px;
    height: 550px;
  }
}

footer{
  bottom: 0;
  height: 66px;
  width: 100%;
  background-color: $footerback;
  h5{
    font-family: $minor-font;
    font-size: 12px;
    color: $white;
    margin: 0px;
    line-height: 5;
    text-align: center;
  }
}

.search{
  position: absolute;
  right: 80px;
  float: right;
  input{
    height: 66px;
    padding-right: 10px;
    padding-left: 30px;
    background-color: $headback;
    color: $white;
    font-family: $minor-font;
    font-size: 13px;
    border: none;
    &:hover{
      background-color: $headhoverback;
    }
    &:focus{
      background-color: $white;
      color: $black;
    }
  }
}

#search_popup {
    position: fixed;
    right: 80px;
    top: 6.1vh;
    width: 220px;
    #search-results{
      ul{
        border-radius: 0px 0px 7px 7px;
        a{
          color: $black;
          font-family: $minor-font;
          line-height: 4;
          text-decoration: none;
        }
        text-align: center;
        padding: 0px;
        background-color: $white;
      }
    }
}
