#desktop {
   display: none;
}

body{
  background-color: $bodyback;
  width: 100%;
  margin: 0px;
}

.center-position{
  width: 100%;
  display: flex;
  justify-content: center; /* align horizontal */
  .header-line{
    height: 50px;
    width: 100%;
    background-color: $headback;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
  }
}
.main-content{
  font-family: $main-font;
  margin-top: 100px;
  display: inline-block;
  margin: 40px 9px 19px 9px;
  background-position: center;
  background-size: cover;
  .movie-text{
    color: $fontcolor;
    margin-top: 5px;
    font-size: 1.4vh;
    text-decoration: none;
    text-align: left;
    float: left;
  }
}
.main-imgs{
  width: 120px;
  height: 170px;
  -moz-user-select: none;
  -webkit-user-select: none;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);
  background-color: $imgback;
  float: left;
  a{
    img{
      width: 120px;
      height: 170px;
    }
  }
  .rating{
    position: absolute;
    z-index: 1;
    color: $white;
    font-size: 1.1vh;
    display: none;
    bottom: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
    h4{
      margin: 0px;
    }
  }
}

.main-imgs:hover .rating {
  display: block;
}

.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

header{
  background-color: $headback;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  height: 66px;
  text-align: center;
  background-position: center;
  background-size: cover;
  .navbar-account{
    position: absolute;
    right: 0px;
    top: 0px;
    float: right;
    margin: 13px;
    a{
      outline: none;
      img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      &:active{
        background-color: $white;
      }
    }
  }
  .navbar-brand{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    float: left;
    line-height: 2.7;
    height: 66px;
    a{
      color: $white;
      font-size: 22px;
      font-family: $brand-font;
      text-decoration: none;
    }
  }
}

.media-background{
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 480px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  &:before {
        position: fixed;
        content: " ";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: repeat-x;
        background-image: -webkit-linear-gradient(to bottom,rgba(21,21,21,.5) 0%,#171717 50%);
        background-image: -o-linear-gradient(to bottom,rgba(21,21,21,.5) 0%,#171717 50%);
        background-image: linear-gradient(to bottom,rgba(21,21,21,.5) 0%,#171717 50%);
   }
}

#dropdown{
  position: absolute;
  right: 0%;
  top: 66px;
  #dropdown-container{
    width: 260px;
    height: 250px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.5);
    background-color: $white;
    border-radius: 0px 0px 7px 7px;
    .dropdown-profile{
      height: 90px;
      border-bottom: 1px solid rgba(0,0,0,.1);
      h4{
        -moz-user-select: none;
        -webkit-user-select: none;
        position: absolute;
        left: 85px;
        font-size: 15px;
        font-family: $main-font;
        color: $color1;
      }
      h5{
        position: absolute;
        top: 23px;
        left: 85px;
        font-size: 12px;
        font-family: $main-font;
        color: $username;
      }
      img{
        pointer-events: none;
        position: absolute;
        left: 0;
        margin-left: 10px;
        margin-top: 15px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        -moz-user-select: none;
        -webkit-user-select: none;
      }
    }
    .dropdown-settings{
      a{
        p{
          font-size: 12px;
          color: $color2;
        }
      }
    }
    .dropdown-logout{
      position: absolute;
      bottom: 0;
      width: 100%;
      a{
        button{
          width: 100%;
          height: 45px;
          border: none;
          background-color: $exit;
          border-radius: 0px 0px 3px 3px;
          color: $white;
          &:hover{
            background-color: $exithover;
          }
        }
      }
    }
  }
  #dropdown-container:not(:hover){
    display: none;
  }
}

.profile{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  .profile-data{
    margin-bottom: 75px;
    img{
      pointer-events: none;
      margin-left: 10px;
      margin-top: 15px;
      width: 80px;
      height: 80px;
      border: 3px solid $white;
      border-radius: 50%;
      -moz-user-select: none;
      -webkit-user-select: none;
    }
    .profile-elements{
      h3{
        font-size: 15px;
        font-family: $main-font;
        color: $white;
      }
      h1{
        font-size: 20px;
        color: $white;
      }
    }
    p{
      input{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 50px;
        width: 100%;
        border: none;
        background-color: $exit;
        color: $white;
      }
    }
    .passchange{
      a{
        text-decoration: none;
        p{
          font-size: 13px;
          color: $white
        }
      }
    }
    .profile-input{
      p{
        font-size: 14px;
        font-family: $main-font;
        color: $white;
      }
      input{
        padding: 5px;
        border: none;
        border-radius: 3px;
      }
    }
  }
}

.media-info{
  text-align: left;
  line-height: 1.4;
}

.main-info{
  margin-top: 20px;
  position: absolute;
}

.main-img{
  width: 140px;
  height: 200px;
  -moz-user-select: none;
  -webkit-user-select: none;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);
}

.main-text{
  font-size: 18px;
  color: $white;
  left: 0;
  text-align: center;
  width: 300px;
}

.main-plot{
  font-size: 12px;
  color: $white;
  width: 300px;
}

.video{
  margin-top: 500px;
  margin-bottom: 70px;
  background-color: $videoback;
  iframe{
    width: 300px;
    height: 200px
  }
}

.hvr-grow{
  display: none;
}

.rating{
  display: none;
}

.navbar-list{
  a{
    display: none;
  }
}

.search{
  display: none;
}

.hvr-grow{
  display: none;
}

footer{
  display: none;
}
