/* Colors and Fonts */
/* Dekstop */
@media screen and (min-width: 960.5px) {
  #mobile {
    display: none; }

  body {
    background-color: #0A0A0A;
    width: 100%;
    margin: 0px; }

  a {
    outline: none; }

  header {
    background-color: #161616;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    height: 66px;
    text-align: center;
    background-position: center;
    background-size: cover; }
    header .width-navbar {
      margin-left: 20%;
      width: 60%; }
      header .width-navbar .navbar-account {
        position: absolute;
        right: 0px;
        top: 0px;
        float: right;
        -moz-user-select: none;
        -webkit-user-select: none;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 8px;
        padding-bottom: 4px; }
        header .width-navbar .navbar-account a {
          outline: none; }
          header .width-navbar .navbar-account a img {
            width: 50px;
            height: 50px;
            border-radius: 50%; }
        header .width-navbar .navbar-account:hover {
          background-color: #212121; }
        header .width-navbar .navbar-account:active {
          background-color: #ffffff; }
      header .width-navbar .navbar-brand {
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
        float: left;
        line-height: 2.5;
        height: 66px; }
        header .width-navbar .navbar-brand a {
          -moz-user-select: none;
          -webkit-user-select: none;
          color: #ffffff;
          font-size: 24px;
          font-family: "Lobster", cursive;
          text-decoration: none; }
        header .width-navbar .navbar-brand:hover {
          background-color: #212121; }

  .main-content {
    font-family: "Oxygen", sans-serif;
    display: inline-block;
    background-position: center;
    background-size: cover;
    margin-left: 20px;
    margin-top: 50px; }
    .main-content .movie-text {
      color: #969696;
      margin-top: 5px;
      font-size: 12px;
      text-decoration: none;
      text-align: left;
      float: left; }

  .main-imgs {
    width: 20vh;
    height: 29vh;
    -moz-user-select: none;
    -webkit-user-select: none;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);
    background-color: #0E0E0E;
    float: left; }
    .main-imgs .rating {
      position: absolute;
      z-index: 1;
      color: #ffffff;
      font-size: 1vh;
      display: none;
      bottom: 0px;
      margin-left: 5px;
      margin-bottom: 5px; }
      .main-imgs .rating h4 {
        margin: 0px; }
    .main-imgs a img {
      width: 20vh;
      height: 29vh; }
    .main-imgs:hover {
      box-shadow: 0 0 2px #23adff; }

  .main-imgs:hover .rating {
    display: block; }

  .centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto; }

  .center-pos-horizontal {
    display: flex;
    justify-content: center;
    /* align horizontal */ }

  .center-pos-vertical {
    display: flex;
    align-items: center;
    /* align vertical */ }

  .media-background {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
    .media-background:before {
      position: fixed;
      content: " ";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-repeat: repeat-x;
      background-image: -webkit-linear-gradient(to bottom, rgba(21, 21, 21, 0.5) 0%, #171717 50%);
      background-image: -o-linear-gradient(to bottom, rgba(21, 21, 21, 0.5) 0%, #171717 50%);
      background-image: linear-gradient(to bottom, rgba(21, 21, 21, 0.5) 0%, #171717 50%); }

  .media-info {
    text-align: left;
    line-height: 1.6; }

  .main-info {
    margin-top: 70px;
    position: absolute;
    width: 800px; }

  .main-detail-img {
    width: 220px;
    height: 300px;
    -moz-user-select: none;
    -webkit-user-select: none;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);
    float: left;
    margin-right: 60px; }

  .main-text {
    font-size: 22px;
    color: #ffffff;
    position: static;
    left: 0; }

  .main-plot {
    font-size: 13px;
    color: #ffffff;
    width: 750px; }

  .video {
    margin-top: 500px;
    margin-bottom: 150px;
    background-color: #1E1E1E;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5); }
    .video iframe {
      width: 850px;
      height: 550px; }

  footer {
    bottom: 0;
    height: 66px;
    width: 100%;
    background-color: #141414; }
    footer h5 {
      font-family: "Staatliches", cursive;
      font-size: 12px;
      color: #ffffff;
      margin: 0px;
      line-height: 5;
      text-align: center; }

  .search {
    position: absolute;
    right: 80px;
    top: 0;
    float: right; }
    .search #search-button a {
      padding-left: 25px;
      padding-top: 33px;
      padding-bottom: 15px; }
      .search #search-button a img {
        padding-right: 25px;
        margin-top: 15px;
        -moz-user-select: none;
        -webkit-user-select: none; }
      .search #search-button a:hover {
        background-color: #212121; }
      .search #search-button a:active {
        background-color: #ffffff; }
    .search #search-show {
      display: inline-block;
      position: relative; }
      .search #search-show input {
        position: relative;
        height: 66px;
        padding-right: 10px;
        padding-left: 30px;
        background-color: #161616;
        color: #ffffff;
        font-family: "Staatliches", cursive;
        font-size: 13px;
        border: none; }
        .search #search-show input:hover {
          background-color: #212121; }
        .search #search-show input:focus {
          background-color: #ffffff;
          color: #000000; }
      .search #search-show a img {
        outline: none;
        margin-right: 15px;
        position: absolute;
        right: 0;
        top: 20px;
        width: 20px;
        height: 25px; }
    .search #search-show:not(:hover) {
      display: none; }

  #search_popup {
    position: absolute;
    right: 25%;
    top: 55px;
    width: 220px; }
    #search_popup #search-results ul {
      border-radius: 0px 0px 7px 7px;
      text-align: center;
      padding: 0px;
      background-color: #ffffff; }
      #search_popup #search-results ul a {
        color: #000000;
        font-family: "Staatliches", cursive;
        line-height: 4;
        text-decoration: none; }

  #dropdown {
    position: absolute;
    right: 20%;
    top: 0;
    margin-top: 70px; }
    #dropdown #dropdown-container {
      width: 260px;
      height: 250px;
      box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.5);
      background-color: #ffffff;
      border-radius: 0px 0px 7px 7px; }
      #dropdown #dropdown-container .dropdown-profile {
        height: 90px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
        #dropdown #dropdown-container .dropdown-profile h4 {
          -moz-user-select: none;
          -webkit-user-select: none;
          position: absolute;
          left: 85px;
          font-size: 15px;
          font-family: "Oxygen", sans-serif;
          color: #000205; }
        #dropdown #dropdown-container .dropdown-profile h5 {
          position: absolute;
          top: 23px;
          left: 85px;
          font-size: 12px;
          font-family: "Oxygen", sans-serif;
          color: #737373; }
        #dropdown #dropdown-container .dropdown-profile img {
          pointer-events: none;
          position: absolute;
          left: 0;
          margin-left: 10px;
          margin-top: 15px;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          -moz-user-select: none;
          -webkit-user-select: none; }
      #dropdown #dropdown-container .dropdown-settings a p {
        font-size: 12px;
        color: #124F64; }
      #dropdown #dropdown-container .dropdown-logout {
        position: absolute;
        bottom: 0;
        width: 100%; }
        #dropdown #dropdown-container .dropdown-logout a button {
          width: 100%;
          height: 45px;
          border: none;
          background-color: #2386b0;
          border-radius: 0px 0px 3px 3px;
          color: #ffffff; }
          #dropdown #dropdown-container .dropdown-logout a button:hover {
            background-color: #227294; }
    #dropdown #dropdown-container:not(:hover) {
      display: none; }

  .profile {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 100vh;
    height: 80vh;
    background-color: rgba(33, 33, 33, 0.8);
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.5); }
    .profile .profile-data {
      margin-left: 200px; }
      .profile .profile-data img {
        pointer-events: none;
        margin-left: 10px;
        margin-top: 15px;
        width: 150px;
        height: 150px;
        border: 3px solid #ffffff;
        border-radius: 50%;
        -moz-user-select: none;
        -webkit-user-select: none; }
      .profile .profile-data .profile-elements h3 {
        font-size: 15px;
        font-family: "Oxygen", sans-serif;
        color: #ffffff; }
      .profile .profile-data .profile-elements h1 {
        font-size: 25px;
        color: #ffffff; }
      .profile .profile-data .passchange a {
        text-decoration: none; }
        .profile .profile-data .passchange a p {
          font-size: 13px;
          font-family: "Oxygen", sans-serif;
          color: #ffffff; }
      .profile .profile-data .profile-input {
        color: #ffffff;
        font-size: 15px;
        font-family: "Oxygen", sans-serif; }
    .profile .profile-container {
      position: absolute;
      bottom: 0;
      width: 200px;
      height: 80vh;
      border-radius: 5px 0px 0px 0px;
      background-color: rgba(28, 28, 28, 0.7); }

  .background-profile {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 66px; }
    .background-profile:before {
      position: fixed;
      content: " ";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-repeat: repeat-x;
      background-image: -webkit-linear-gradient(to bottom, rgba(21, 21, 21, 0.5) 0%, #171717 50%);
      background-image: -o-linear-gradient(to bottom, rgba(21, 21, 21, 0.5) 0%, #171717 50%);
      background-image: linear-gradient(to bottom, rgba(21, 21, 21, 0.5) 0%, #171717 50%); } }
/* Mobile */
@media screen and (max-width: 960.5px) {
  #desktop {
    display: none; }

  body {
    background-color: #0A0A0A;
    width: 100%;
    margin: 0px; }

  .center-position {
    width: 100%;
    display: flex;
    justify-content: center;
    /* align horizontal */ }
    .center-position .header-line {
      height: 50px;
      width: 100%;
      background-color: #161616;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
      display: flex; }

  .main-content {
    font-family: "Oxygen", sans-serif;
    margin-top: 100px;
    display: inline-block;
    margin: 40px 9px 19px 9px;
    background-position: center;
    background-size: cover; }
    .main-content .movie-text {
      color: #969696;
      margin-top: 5px;
      font-size: 1.4vh;
      text-decoration: none;
      text-align: left;
      float: left; }

  .main-imgs {
    width: 120px;
    height: 170px;
    -moz-user-select: none;
    -webkit-user-select: none;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);
    background-color: #0E0E0E;
    float: left; }
    .main-imgs .main-list-img img {
      width: 120px;
      height: 170px; }
    .main-imgs .rating {
      position: absolute;
      z-index: 1;
      color: #ffffff;
      font-size: 1.1vh;
      display: none;
      bottom: 0px;
      margin-left: 5px;
      margin-bottom: 5px; }
      .main-imgs .rating h4 {
        margin: 0px; }

  .main-imgs:hover .rating {
    display: block; }

  .centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto; }

  header {
    background-color: #161616;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    height: 66px;
    text-align: center;
    background-position: center;
    background-size: cover; }
    header .navbar-account {
      position: absolute;
      right: 0px;
      top: 0px;
      float: right;
      margin: 13px; }
      header .navbar-account a {
        outline: none; }
        header .navbar-account a img {
          width: 40px;
          height: 40px;
          border-radius: 50%; }
        header .navbar-account a:active {
          background-color: #ffffff; }
    header .navbar-brand {
      text-align: center;
      padding-left: 30px;
      padding-right: 30px;
      float: left;
      line-height: 2.7;
      height: 66px; }
      header .navbar-brand a {
        color: #ffffff;
        font-size: 22px;
        font-family: "Lobster", cursive;
        text-decoration: none; }

  .media-background {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
    .media-background:before {
      position: fixed;
      content: " ";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-repeat: repeat-x;
      background-image: -webkit-linear-gradient(to bottom, rgba(21, 21, 21, 0.5) 0%, #171717 50%);
      background-image: -o-linear-gradient(to bottom, rgba(21, 21, 21, 0.5) 0%, #171717 50%);
      background-image: linear-gradient(to bottom, rgba(21, 21, 21, 0.5) 0%, #171717 50%); }

  #dropdown {
    position: absolute;
    right: 0%;
    top: 66px; }
    #dropdown #dropdown-container {
      width: 260px;
      height: 250px;
      box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.5);
      background-color: #ffffff;
      border-radius: 0px 0px 7px 7px; }
      #dropdown #dropdown-container .dropdown-profile {
        height: 90px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
        #dropdown #dropdown-container .dropdown-profile h4 {
          -moz-user-select: none;
          -webkit-user-select: none;
          position: absolute;
          left: 85px;
          font-size: 15px;
          font-family: "Oxygen", sans-serif;
          color: #000205; }
        #dropdown #dropdown-container .dropdown-profile h5 {
          position: absolute;
          top: 23px;
          left: 85px;
          font-size: 12px;
          font-family: "Oxygen", sans-serif;
          color: #737373; }
        #dropdown #dropdown-container .dropdown-profile img {
          pointer-events: none;
          position: absolute;
          left: 0;
          margin-left: 10px;
          margin-top: 15px;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          -moz-user-select: none;
          -webkit-user-select: none; }
      #dropdown #dropdown-container .dropdown-settings a p {
        font-size: 12px;
        color: #124F64; }
      #dropdown #dropdown-container .dropdown-logout {
        position: absolute;
        bottom: 0;
        width: 100%; }
        #dropdown #dropdown-container .dropdown-logout a button {
          width: 100%;
          height: 45px;
          border: none;
          background-color: #2386b0;
          border-radius: 0px 0px 3px 3px;
          color: #ffffff; }
          #dropdown #dropdown-container .dropdown-logout a button:hover {
            background-color: #227294; }
    #dropdown #dropdown-container:not(:hover) {
      display: none; }

  .profile {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%; }
    .profile .profile-data {
      margin-bottom: 75px; }
      .profile .profile-data img {
        pointer-events: none;
        margin-left: 10px;
        margin-top: 15px;
        width: 80px;
        height: 80px;
        border: 3px solid #ffffff;
        border-radius: 50%;
        -moz-user-select: none;
        -webkit-user-select: none; }
      .profile .profile-data .profile-elements h3 {
        font-size: 15px;
        font-family: "Oxygen", sans-serif;
        color: #ffffff; }
      .profile .profile-data .profile-elements h1 {
        font-size: 20px;
        color: #ffffff; }
      .profile .profile-data p input {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 50px;
        width: 100%;
        border: none;
        background-color: #2386b0;
        color: #ffffff; }
      .profile .profile-data .passchange a {
        text-decoration: none; }
        .profile .profile-data .passchange a p {
          font-size: 13px;
          color: #ffffff; }
      .profile .profile-data .profile-input p {
        font-size: 14px;
        font-family: "Oxygen", sans-serif;
        color: #ffffff; }
      .profile .profile-data .profile-input input {
        padding: 5px;
        border: none;
        border-radius: 3px; }

  .media-info {
    text-align: left;
    line-height: 1.4; }

  .main-info {
    margin-top: 20px;
    position: absolute; }
    .main-info .media-img img {
      width: 200px;
      height: 280px; }

  .main-img {
    width: 140px;
    height: 200px;
    -moz-user-select: none;
    -webkit-user-select: none;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5); }

  .main-text {
    font-size: 18px;
    color: #ffffff;
    left: 0;
    text-align: center;
    width: 300px; }

  .main-plot {
    font-size: 12px;
    color: #ffffff;
    width: 300px; }

  .video {
    margin-top: 600px;
    margin-bottom: 70px;
    background-color: #1E1E1E; }
    .video iframe {
      width: 300px;
      height: 200px; }

  .hvr-grow {
    display: none; }

  .rating {
    display: none; }

  .navbar-list a {
    display: none; }

  .search {
    display: none; }

  .hvr-grow {
    display: none; }

  footer {
    display: none; } }

/*# sourceMappingURL=main.css.map */
